.header {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.search-input,
.filter-select,
.year-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #1c1c1c;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.brand {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.brand-name {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}
